body {
	background: black;
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"header header header header header header header header"
	"left window-1 window-1 window-1 window-1 window-1 window-1 right"
	"left window-1 window-1 window-1 window-1 window-1 window-1 right"
	"left window-1 window-1 window-1 window-1 window-1 window-1 right"
	"left content content content content content content right"
	"footer footer footer footer footer footer footer footer";
	gap: 20px;
}

.window {
	grid-area: window-1;
	position: relative;
}

.screen {
	grid-column-start: 3;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 7;
	position: relative;
}

.screen-window-button {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 6;
	background:none;
	width: 30%;
	height: 40%;
	line-height:40px;
	text-align:center;
	color:black;
	margin: 0;
	border-radius:5px;
	border:1px solid black;
	cursor:pointer;
	font-weight:bold;
}

.screen-window-button:hover{
	background: lavender;
	color:#121212;
}

.screen-window{
	background: lightgray;
	position: absolute;
	height: 100%;
	width: 100%
}

.screen-window-text {
	padding:20px;
	margin-top: 50px;  
	text-align: center;
	color:#212121;
}
.screen-window-text h1 {
	font-size:3em;
	font-weight: 400;
	margin-bottom: 20px;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 0.1em 0.1em 0 gray;
}
.screen-window-text h4 {
	font-size:2em;
	margin-bottom:20px;
	font-family: 'VT323', monospace;
}

.screen-window-text h3 {
	font-size:10px;
	margin-bottom:20px;
	color: red;
	font-family: 'VT323', monospace;
}

.parallax-item {
	position: absolute;
	width: 100%;
	height: 100%;
}

.p-item1 {
	background: url('/images/background_clouds3.png') 100% repeat-x;
	background-position: bottom;
	-webkit-animation: 10s linear infinite animate_clouds;
}

.p-item2 {
	background: url('/images/background_clouds2.png') 100% repeat-x;
	background-position: bottom;
	-webkit-animation: 15s linear infinite animate_clouds;
}

.p-item3 {
	background: url('/images/background_clouds1.png') 100% repeat-x;
	background-position: bottom;
	-webkit-animation: 40s linear infinite animate_clouds;
	opacity: 25%;
}

.p-item4 {
	background: url('/images/moon.png') no-repeat;
	background-position: top;
	background-size: 50%;
}

.p-item5 {
	background: url('/images/far_clouds.png') 100% repeat-x;
	background-position: top;
	-webkit-animation: 25s linear infinite animate;
	opacity: 75%;
}

.p-item6 {
	background: url('/images/front_clouds.png') 100% repeat-x;
	background-position: top;
	-webkit-animation: 30s linear infinite animate;
}
 
@-webkit-keyframes animate {
	0% {background-position: top left;}
	100% {background-position: top right;}
}

@-webkit-keyframes animate_clouds {
	0% {background-position: bottom left;}
	100% {background-position: bottom right;}
}
