/* html {
	background: url("../../images/trees.png"), url("../../images/mountains.png"), url("../../images/far-mountains.png");
	background-size: 720px 1280px;
} */

body{
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: url("../../images/trees.png"), url("../../images/mountains.png"), url("../../images/far-mountains.png");
	background-repeat: repeat-x, repeat-x, repeat-x;
	background-size: 720px 1280px;
}

.CloudsBG {
	background-repeat: repeat-x, repeat-x, repeat-x;
	background-size: 720px 1280px;
}

#far-clouds {
	animation: animate 10s linear 0s normal none infinite;
}

#near-clouds {
	animation: animate 10s linear 0s normal none infinite;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}



  

