.p-item2 {
	-webkit-animation: 15s linear infinite animate;
}

.p-item3 {
	-webkit-animation: 20s linear infinite animate;
}
 
@-webkit-keyframes animate {
	from {background-position: left;}
	to {background-position: right;}
}



  

